   {% extends 'base.html.twig' %}

   {% block title %}Tueurs>{% endblock %}

   {% block body %} 
         <h1>Tous les tueurs en série : </h1>
    {% for killer in killers %}
        <div>
            <h2>{{ loop.index }} / {{ killer.firstname }} {{ killer.name }} </h2>
            <h3><a href="{{ path("killer_show", { id: killer.id }) }}">Voir la fiche</a></h3>
        </div>
    {% else %}
        Aucun tueur trouvé.
    {% endfor %}

    <p><a href="{{ path('killer_new') }}">
        {{'Ajouter un tueur' | trans}}
    </a></p>

   {% endblock %}   
