   {% extends 'base.html.twig' %}

   {% block title %}All killers{% endblock %}

   {% block body %} 
         <h1>Tous les tueurs en série : </h1>
    {% for killer in killers %}
        <div>
            <h2>{{ loop.index }} / {{ killer.firstname }} {{ killer.name }} </h2>
            <a href="{{ path("killer_show", { id: killer.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucun tueur trouvé.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
   {% endblock %}
